# Ignora arquivos gerados automaticamente
node_modules/
bower_components/
.nyc_output/
coverage/
*.log
npm-debug.log*
yarn-error.log*
lerna-debug.log*

# Ignora arquivos de configuração específicos do ambiente
.env
.env.local
.env.development
.env.production

# Ignora arquivos de teste
*.spec.js
*.test.js
__tests__/

# Ignora arquivos de documentação
docs/

# Ignora arquivos de minificação
*.min.js
*.min.css

# Ignora arquivos de lock
package-lock.json
yarn.lock

# Ignora arquivos de cache
.cache/
